
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Josefin Sans';
}
body {
    background-color: #ECF0F1;
}
input{
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    font-size: 1.5rem;
    padding: 10px 0px;
    text-align: center;

}
button {
    outline: none;
    padding: 10px;
    margin-left: 40px;

    height: 50px;
    width: 100px;
    
    border: none;
    border-radius: 5px;

    cursor: pointer;

    font-size: 1rem;
    font-weight: bold;

    color: #ffff;
    background-color: #FF7F50;

}
button:hover {
    background-color: #ed4d12;
}
button:focus {
    background-color: #ed4d12;
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left-side-container {
    background-color: #ffff;
    border-radius: 10px;
    padding: 30px;
    /* min-width: 400px; */
    /* max-width: 400px; */
    margin: 10% 0% 0% 2%;
}
.budget-info {
    margin-top: 10%;
}
.budget-info > div{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    border-radius: 10px;
    background-color: #6495ED;
    padding: 4%;
    
    color: white;
    font-weight: bolder;
}

.add-item-area, .buget-setting-area{
    display: flex;
    justify-content: space-between;
}

.add-item-area {
    margin-top: 10%;
}
#total-budget:focus{
    border-bottom: 2px solid #6495ED;
}
#item-name, #item-price, #total-budget{
    width: auto;
}
#item-name:focus {
    border-bottom: 2px solid #6495ED;
}
#item-price:focus{
    border-bottom: 2px solid #6495ED;
} 
#item-price {
    margin-left: 15px;
}


.right-side {
    display: grid;
    place-content: center;
}

/* a class that should be appplied on container*/
.right-side-container {
    background-color: #6495ED;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

/* Class that should be applied on all element*/
.element_applied {
    margin: 0px 20px;
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}


